<div class="dashboard-wrap">
	<%= link_to "See cats", admin_cats_path, class: "btn btn-lg" %>
	<%= link_to "New cat", new_admin_cat_path, class: "btn btn-lg" %><br>
	<%= link_to "See Bookings", admin_reservations_path, class: "btn btn-lg" %>
</div>
